<div
  style="
    width: calc(3 * ((8px * 2) + 300px));
    height: fit-content;
    display: flex;
    justify-content: space-between;
    container-type: inline-size;
    overflow: hidden;
  "
>
  <div
    id="repeater"
    [style]="{
      position: 'relative',
      transform: 'translateX(0)',
      display: 'flex',
      transition: 'transform 0.5s',
      width: 'calc(3 * ((8px * 2) + 300px))'
    }"
  >
    <img
      id="img1"
      class="ghost-img"
      src="{{ pathList[pathList.length - 2] }}"
      alt="img"
    />
    <img src="{{ pathList[pathList.length - 1] }}" alt="img" />
    <img id="img3" src="{{ pathList[0] }}" alt="img" />
    <img src="{{ pathList[1] }}" alt="img" />
    <img class="ghost-img" src="{{ pathList[2] }}" alt="img" />
  </div>
</div>
