<div
  style="
    width: calc((16px * 2) + (300px * 3));
    min-width: 50vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    container-type: inline-size;
  "
>
  <div
    id="repeater"
    [style]="{
      position: 'relative',
      left: '50%',
      transform: 'translateX(-50%)',
      display: 'flex',
    }"
  >
    <img
      id="left-over"
      class="ghost-img"
      src="{{
        pathList[(activeIndex + pathList.length - 2) % pathList.length]
      }}"
      alt="left side"
    />
    <img
      src="{{
        pathList[activeIndex === 0 ? pathList.length - 1 : activeIndex - 1]
      }}"
      alt="prior"
    />
    <img src="{{ pathList[activeIndex] }}" alt="{{ activeIndex + 1 }}" />
    <img
      src="{{
        pathList[activeIndex === pathList.length - 1 ? 0 : activeIndex + 1]
      }}"
      alt="next"
    />
    <img
      id="right-over"
      class="ghost-img"
      src="{{ pathList[(activeIndex + 2) % pathList.length] }}"
      alt="right side"
    />
  </div>
</div>
